body {
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,0.38139005602240894) 100%);}
.container {
    
    margin: 20px 20% 20px 20%;
    display: grid;
    justify-content: center;
    background: linear-gradient(174deg, rgba(14,5,13,1) 0%, rgba(126,10,107,1) 4%, rgba(56,119,244,1) 43%, rgba(65,191,246,1) 58%, rgba(0,212,255,1) 72%, rgba(3,114,137,1) 97%, rgba(5,21,24,1) 100%);}

h1 {
    width: 100%;  
    text-align: center;
    color: aliceblue;
}
    h3 {
    margin: 0px; 
    color: white;
    
    -webkit-text-stroke: 0.3px #ed89dd; 
     
    }
    .caja {
        
        background-color:#e6e7e9;
        padding:1% 2% 1% 2%;
        margin: 10px;
        border-radius: 20px;
        box-shadow:7px 7px 15px #ed89dd ;
    }
    .caja .caja1{
       grid-template-columns: 50% 50%;
    }
   .caja button{
    align-items: center;
   }

   footer img {
    width: 50px;
    height: 50px;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center ;
   
   }